[Desktop Entry]
Type=Application
Name=Pulsar Scope
GenericName=DSP modular environment
Comment=Load, wire and control DSP modules on the Creamware / Sonic Core Pulsar II
Exec=pulsar-scope
Icon=audio-card
Terminal=false
Categories=AudioVideo;Audio;Mixer;
Keywords=Pulsar;Scope;Creamware;SonicCore;DSP;
